
services:
  database:
    image: edcom/database-dev
    platform: linux/arm64/v8
    build:
      context: .
      dockerfile: services/database.Dockerfile
    ports:
      - "127.0.0.1:5432:5432"
    profiles:
      - lite
      - full
  cache:
    platform: linux/arm64/v8
    profiles:
      - lite
      - full
  api:
    image: edcom/api-dev
    platform: linux/arm64/v8
    build:
      context: .
      dockerfile: services/api.Dockerfile
    volumes:
      - "./api:/api"
      - "./scripts:/scripts"
    profiles:
      - lite
      - full
    environment:
      - development=true
    #ports:
    #  - "127.0.0.1:5678:5678"
  tasks:
    image: edcom/api-dev
    platform: linux/arm64/v8
    build:
      context: .
      dockerfile: services/api.Dockerfile
    volumes:
      - "./api:/api"
      - "./scripts:/scripts"
    command: sh -c '/scripts/run_db_migrations.py && watchmedo auto-restart -d /api -p *.py --recursive -- celery -A api.app.tasks worker --loglevel=INFO --concurrency `/scripts/num_tasks.py celery` -f /logs/app.log'
    profiles:
      - lite
      - full
    environment:
      - development=true
      - celery_worker=true
    #ports:
    #  - "127.0.0.1:5678:5678"
  cron:
    image: edcom/api-dev
    platform: linux/arm64/v8
    build:
      context: .
      dockerfile: services/api.Dockerfile
    volumes:
      - "./api:/api"
      - "./scripts:/scripts"
    profiles:
      - lite
      - full
  webhooks:
    image: edcom/api-dev
    platform: linux/arm64/v8
    build:
      context: .
      dockerfile: services/api.Dockerfile
    volumes:
      - "./api:/api"
      - "./scripts:/scripts"
    profiles:
      - full
  segments:
    image: edcom/api-dev
    platform: linux/arm64/v8
    build:
      context: .
      dockerfile: services/api.Dockerfile
    volumes:
      - "./api:/api"
      - "./scripts:/scripts"
    profiles:
      - full
  smtprelay:
    image: edcom/smtprelay-dev
    platform: linux/arm64/v8
    build:
      context: smtprelay
    profiles:
      - full
      - lite
  screenshot:
    image: edcom/screenshot-dev
    platform: linux/arm64/v8
    build:
      context: screenshot
    profiles:
      - full
  proxy:
    image: edcom/proxy-dev
    platform: linux/arm64/v8
    build:
      context: .
      dockerfile: services/proxy-dev.Dockerfile
    volumes:
    profiles:
      - lite
      - full
  velocity:
    image: edcom/velocity-dev
    platform: linux/arm64/v8
    ports:
      - "25:25"
      - "81:81"
      - "8080:80"
    build:
      context: velocity
    volumes:
      - "./data/velocity/conf:/conf"
      - "./data/velocity/logs:/logs"
      - "./data/velocity/mail:/mail"
    profiles:
      - velocity
